/* Montserrat, Raleway, Fira Sans, Inter font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.homepage-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.introducing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  /* margin-bottom: 32px; */
}

.app-info {
  width: 448px;
}

.welcome {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  margin-bottom: 0;
}

.about-app {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  width: 400px;
  margin-top: 0;
}

.welcoming-image {
  width: 350px;
}

.commencer-button {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  color: white;
  background-color: #387AA3;
  padding: 12px 32px;
  border: none;
  border-radius: 4px;
  margin-top: 64px;
  cursor: pointer;
}